* {
    margin: 0px;
    padding: 0px;
}


.testimonies {
    align-items: center;
    text-align: center;
    align-content: center;

}

.testimonies p {
    
}

.testimony1 {
    display: flex;
    align-items: center;
    margin: auto 0;
}

.testimony1 img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.process {
    padding: 30px 0 30px 0; 
    min-height: 30px;
    background-color: #F4F7FE;
    text-align: center;
}

.process > * {
    margin-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.test1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    font-size: 35px;
    text-align: center;
    align-content: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 0 auto;
}
